@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript-Regular.otf');
}

header {
  animation: mianimacion 1s;
}

@keyframes mianimacion {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0px;
  }
}

body {
  font-family: 'DancingScript';
  color: white;
}

@media only screen and (min-width:900px)
{
  div {
    width: 900px;
  }
}

@media only screen and (max-widht:900px)
{
  div {
    width: 100%;
  }
}

@media only screen and (min-width:900px){
  header {
    background-color: #5b7989;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    display: flex;
  }
}

@media only screen and (max-width:900px){
  header {
    background-color: #5b7989;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
  }
}

@media only screen and (min-width:900px){
  h1 {
    text-shadow: 2px 2px #02010a;
    width: 100%;
  }
}

@media only screen and (min-width:900px){
  header nav {
    width: 100%;
    text-align: right;
    align-content: flex-end;
  }
}

@media only screen and (max-width:900px){
  h1 {
    text-shadow: 2px 2px #02010a;
    width: 100%;
    text-align: center;
    align-self: center;
  }
}

@media only screen and (max-width:900px){
  header nav {
    width: 100%;
    text-align: center;
    align-self: center;
  }
}

a:link, a:visited {
  text-decoration: underline;
  color: white;
}

a.current:link, a.current:visited {
  text-decoration: none;
  color: white;
}

img {
  box-shadow: 2px 2px #02010a;
}

#imagencentral {
  display:flex;
  background-color: #82c3a6;
  height: auto;
  width:100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#imagencentral img {
  width: 95%;
  height: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  box-shadow: 2px 2px #02010a;
}

#imagensecundaria {
  display: flex;
  background-color: #d5c75f;
  height: auto;
  width: 100%;
  border-width: 1px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

#imagensecundaria img {
  width: 95%;
  margin: 10px;
}

#imgpaisaje:hover {
  transform: rotate(10deg);
  border: 2px solid black;
  box-shadow: 3px 3px #82c3a6;
}

#imgretrato:hover {
  transform: translate(20px, -5px);
  border: 2px solid black;
  box-shadow: 3px 3px #82c3a6;
}

#galeria {
  display: flex;
  background-color: #d5c75f;
  border-radius: 1px;
  height: auto;
  width : 100%;
  flex-wrap: wrap;
}

@media only screen and (min-width: 900px) {
  #galeria img {
    width: 30%;
    margin: 10px;
  }
}

@media only screen and (max-width: 900px) {
  #galeria img {
    width: 100%;
    height: auto;
    margin: 5px;
  }
}

.par {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.sephia {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

footer {
  display:flex;
  background-color: #C6d5c5;
  color: black;
  justify-content: center;
  align-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-wrap: wrap;
  clear: both;
}

@media only screen and (max-width: 900px) {
  footer div {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  footer div {
    width: 25%;
  }
}
