@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript-Regular.otf');
}

body {
  font-family: 'DancingScript';
  color: white;
}

div {
  width: 900px;
}

header {
  background-color: #5b7989;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
}

h1 {
  text-shadow: 2px 2px #02010a;
  width: 100%;
}

header nav {
  width: 100%;
  text-align: right;
  align-content: flex-end;


}


a:link, a:visited {
  text-decoration: underline;
  color: white;
}

a.current:link, a.current:visited {
  text-decoration: none;
  color: white;
}

img {
  box-shadow: 2px 2px #02010a;
}

#imagencentral {
  background-color: #82c3a6;
  width:100%
  margin: 2%;
  text-align: center;
}

#imagencentral img {
  width: 90%;
}

#imagensecundaria {
  display: flex;
  background-color: #d5c75f;
  border: 1px;
  text-align: center;
}

#imagensecundaria div {
  width: 100%
  text-align: center;
  flex-direction: column;
}

#imgpaisaje:hover {
  transform: rotate(10deg);
  border: 2px;
  box-shadow: 3px 3px #82c3a6;
}

#imgretrato:hover {
  transform: translate(20px, -5px);
  border: 2px;
  box-shadow: 3px 3px #82c3a6;
}

#galeria {
  background-color: #d5c75f;
  border-radius: 1px;
}

footer {
  display:flex;
  background-color: #C6d5c5;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  clear: both;
}

footer div {
  width: 100%;
}
